#### `.gitignore`

# SVN directories
.svn

# OSX noise
.DS_Store
*.pbxuser
profile

# Flash Builder noise
.actionScriptProperties
.flexProperties
.project
.classpath
.settings
bin/*
bin-debug/*
report/*
bin-test/*
docs/*
.flexLibProperties

# Java noise
*.class

# Windows noise
desktop.ini

# Project specific
user.data
resume.html
libs/*.jar
target/*
